@using IoT.Data
@using NewLife;
@using NewLife.Web;
@using NewLife.Cube;
@using XCode;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
}
<div class="form-group">
    <label for="protocol" class="control-label">驱动：</label>
    @Html.ForDropDownList("protocol", Driver.GetValids().ToDictionary(e=>e.Name,e=>e.ToString()), page["protocol"], "全部", true)
</div>
@await Html.PartialAsync("_DateRange")